// container width
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

//font
$main-font: "Manrope";
$sec-font: "Poppins";
$weather-font: "Roboto";

//color
$blue-color: #4440f6;
$favorite-color: #4b48da;
$text-main-color: #111321;
$grey-color: #a8a8a8;
$bcg-main-color: #ffff;
$green-color: #00dd73;
$white-color: #ffff;
$black-color: #111321;
//darkMode
$text-main-color-dark: #ffff;
$bcg-main-color-dark: #2e2e2e;
